<html>
	<head>
		<link rel="stylesheet" href="../css/index.css"/>
		<title>Galaxy Quest</title>
	</head>
	<body>

		<div id="header">
			<h2 id="shipName" class="navButton">
				U.S.S. Odysseus
			</h2>
			<h2 id="officerType" class="navButton">
				Operations
			</h2>
			<h2 id="currentOption" class="navButton">
				Current Option/screen
			</h2>
		</div>

		<div id="content">
			<h2>
				Content
			</h2>
		</div>

		<div id="footer">

			<h3 id="option1" class="navButton">
				Option 1
			</h3>
			<h3 id="option2" class="navButton">
				Option 2
			</h3>
			<h3 id="option3" class="navButton">
				Option 3
			</h3>
			<h3 id="option4" class="navButton">
				Option 4
			</h3>

		</div>

	</body>
</html>